/**
* @name Darkened Comfy
* @author misspent
* @description Darkness is a gift; embrace it.
* @authorLink https://github.com/misspent/Darkened
* @version 1.0.0
*/

/*
\==================================================================================\
\                                     Imports                                      \
\==================================================================================\
*/

/* Main Import | --> Don't delete this <-- */
@import "https://misspent.github.io/Darkened/BetterDiscord/main.css";

/* Add a "/" on the left side of the first Quotation mark to cancel out the import */
@import "https://crearts-community.github.io/Mention-Links/theme.css"; /* Mention Links */
@import "https://lyght1337.github.io/DarknessCodeBlocks/css/CodeBlocks.css"; /* Codeblocks */
@import "https://comfy-themes.github.io/Discord/betterdiscord/no-scrollbar.css"; /* Scrollbars */
@import "https://misspent.github.io/Darkened/BetterDiscord/ChannelIcons.css"; /* Channel Icons */
@import "https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css"; /* Radial Status */
@import /"https://misspent.github.io/Darkened/BetterDiscord/DarkenedCompact.css"; /* Compact Import */
@import "https://misspent.github.io/Darkened/BetterDiscord/SeparatedChatBar.css"; /* SeparatedChatBar */
@import "https://misspent.github.io/Darkened/BetterDiscord/ContextIconColours.css"; /* ContextIconsColours */
@import "https://maendisease.github.io/BetterDiscordStuff/css/wellThisIsAwkwardSoTryThis.css";/* Better Crashes - Disease | Indicating which plugins are currently causing commits. */
/* Bottom two work together, dealers choice */
@import /"https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css"; /* Horizontal Server List | Remove the "/*" from the start of this line to use the Import */
@import /"https://discordstyles.github.io/Addons/bottomhsl.css"; /* Bottom Horizontal Server List. Simply remove the "/" to enable it (Only works when Import above is enabled) */

:root {
  /* Home Icon Image */
  --Home-Image-Icon: url("https://i.ibb.co/k4mXsGW/Mary-Shaw.png"); /* Default: https://i.ibb.co/k4mXsGW/Mary-Shaw.png | Free Upload Site: https://imgbb.com */

  /* Spotify plugin seek bar */
  --spotify-color: #1edc62; /* Default: #1edc62 */

  /* Tooltips */
  --tooltips: block; /* Set it to "none" if you don't want it | Default: block */

  /* Other */
  --dark: #2b365cde; /* Codeblocks Import: Border color | Default: #151515 */
  --light: #2b365cde; /* Codeblocks Import | Default: #151515 */
  --roleslist-columns: 2; /* Amount of columns for roles in popout */
  --Settings-Plugins-Themes-List-Columns: 2; /* More Columns in theme & plugin section in settings */
  --Normal-Activity-Icon: #c4302b; /* Member list activity Icon | Default: var(--channels-default) | Activity Icons Plugin by Neodymium */
  --Playing-Game-Icon: #4c8bf5; /* Member list activity Icon | Default: var(--channels-default) | Activity Icons Plugin by Neodymium */
  --Spotify-Activity-Icon: #1DB954; /* Member list activity Icon | Default: var(--channels-default) | Activity Icons Plugin by Neodymium  */
  --Emoji-Menu-Height: 545px; /* Emoji, GIF & Sticker menu height */

  /* Mention color */
  --mention-color: #f04747; /* Default: #0fffff */
  --unread-color: rgb(112, 139, 236); /* Default: rgb(0, 195, 209) */
  --accent: 112, 180, 255; /* This works in conjunction with "--unread-color" | Default: 0, 195, 209 */

  /* Mention color in chat */
  --mention-color-bar: #c66262; /* Default: #00b0f4 */
  --mention-color-background: #c662621f; /* Default: #00b0f41f */
  --mention-color-hover: #c6626226; /* Default: #00b0f41f */

  /* Roundness of the fun stuff */
  --avatar-radius: 0px; /* Avatar roundness | Radial Status roundness */
  --status-radius: 8px; /* Status roundness */
  --server-radius: 0px; /* Server icons, borders, images and other containers roundness */
  --switch-radius: 0; /* Switches icon radius (enabled & disabled) | If --server-radius is "8" set this to "9" */
  --role-circle: 5px; /* Circles next to role names (Size not roundness) */

  /* Toggleable variables */
  --Titlebar: flex; /* flex = ON, none = OFF */
  --Discord-Watermark: flex; /* flex = ON, none = OFF */
  --Chat-GIF-Button: flex; /* flex = ON, none = OFF */
  --Chat-Gift-Button: none; /* flex = ON, none = OFF */
  --Chat-Sticker-Button: none; /* flex = ON, none = OFF */
  --Home-Nitro-Channel: none; /* flex = ON, none = OFF */
  --Home-Discovery-Channel: flex; /* flex = ON, none = OFF */
  --Context-Menu-Emoji-Toolbar: grid; /* grid = ON, none = OFF */
  --Text-Channels-Capital-Letter: capitalize; /* capitalize, none */
  --Popout-Send-Message-Container: block; /* block = ON, none = OFF */
  --Context-Menu-Keybind-Hints: none; /* block = ON, none = OFF */
  --Invisible-Typing-Bar-Toggle-Icon: flex; /* flex = ON, none = OFF */

  /* ==============> Compact Import | Left variable = Compact, Right variable = Default(normal) | DarkenedCompact Import is required <============== */
  /* Compact Sidebar */
  --Compact-Sidebar: 10px; /* Left variable = 10px, Right variable = 240px */
  --Compact-Sidebar-Opacity: 0; /* Left variable = 0, Right variable = 1 */
  /* Compact Member List */
  --Member-List-Toggle: 52px; /* Left variable = 52px, Right variable = 240px */
  --Member-List-Toggle-1: 0; /* Left variable = 0, Right variable = 45px */
  --Member-List-Toggle-2: 0; /* Left variable = 0, Right variable = 30px */
  --Member-List-Toggle-3: 0; /* Left variable = 0, Right variable = 1 */
  --Member-List-Toggle-4: 0; /* Left variable = 0, Right variable = 8px 0 */

  /* Radial Status */
  --rs-small-spacing: 0px;
  --rs-medium-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-small-width: 1.5px;
  --rs-medium-width: 1.5px;
  --rs-large-width: 1.5px;
  --rs-avatar-shape: var(--avatar-radius);
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
  --rs-phone-color: var(--rs-online-color);
  --rs-phone-visible: block;
  --rs-version: "2.0.6";

  /* ChannelTabs Plugin | Ignore */
  --channelTabs-tabHeight: 32px;
  --channelTabs-favHeight: 23px !important;
  --channelTabs-macHeight: 41px !important;
  --channelTabs-tabWidth: 224px !important;
  --channelTabs-tabStatusBorderThickness: 2px !important;
  --channelTabs-favStatusBorderThickness: 2px !important;
  --channelTabs-winButtonWidth: 84px !important;
  --channelTabs-paddingTop: 0px !important;
  --channelTabs-paddingBottom: 0px !important;
  --channelTabs-containerSpacing: 3px !important;

  /* Horizontal Server List | Import */
  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
}

/*
\==================================================================================\
\                                  Main Variables                                  \
\==================================================================================\
*/

.theme-dark {
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-mobile-primary: #23283d;
  --background-mobile-secondary: #1e2233;
  --channeltextarea-background: #191f2e;
  --background-accent: #7289da;
  --background-message-hover: transparent;
  --background-modifier-hover: #00000010;
  --background-modifier-active: #0000001a;
  --background-modifier-selected: #0000001f;
  --deprecated-card-bg: #12141f63;
  --background-floating: #101320;
  --deprecated-quickswitcher-input-background: #101320;
  --elevation-low: none;
  --scrollbar-auto-thumb: #121722;
  --scrollbar-auto-track: #191f2e;
  --scrollbar-thin-thumb: #141925;
  --activity-card-background: #101320;
  --input-background: #1e2233;
  --border-color: #2b365cde; /* Change to: "none" for no borders */
  --popout-title: #37437091;
  --popout-background-main: #2d365c91;
  --jump-newmessage-bars-buttons: #374370;
  --jump-newmessage-bars: #2d365c;
  --Emoji-Menu: #101320;
}

.theme-light {
  /* "Create a server" popup | I will never support light theme */
  --background-primary: #23283d;
  --background-secondary: #1e2233;
  --background-secondary-alt: #191f2e;
  --background-tertiary: #101320;
  --background-accent: #7289da;
  --background-modifier-hover: #262b41;
  --background-modifier-active: #262b41;
  --header-primary: #fff;
  --header-secondary: #b1b5b9;
  --interactive-normal: #ccc;
  --interactive-hover: #ccc;
  --text-normal: #ccc;
  --popout-secondary: #1e2233;
}
