:root {
  --channelTabs-tabHeight: 32px !important;
  --channelTabs-favHeight: 23px !important;
  --channelTabs-macHeight: 41px !important;
  --channelTabs-tabWidth: 224px !important;
  --channelTabs-tabStatusBorderThickness: 2px !important;
  --channelTabs-favStatusBorderThickness: 2px !important;
  --channelTabs-winButtonWidth: 84px !important;
  --channelTabs-paddingTop: 0px !important;
  --channelTabs-paddingBottom: 0px !important;
  --channelTabs-containerSpacing: 3px !important;
}

/* ChannelTabs Plugin | To fix badges remove "!important" from "height: var(--channelTabs-tabHeight) !important" in the plugin.js */
.channelTabs-mentionBadge, .channelTabs-unreadBadge, .channelTabs-favGroup-content, .channelTabs-favGroupBtn, .channelTabs-fav, .channelTabs-tab, .channelTabs-fav .channelTabs-typingBadge {border-radius: var(--server-radius) !important;}
.channelTabs-favIcon.channelTabs-noneIcon, .channelTabs-tabIcon.channelTabs-noneIcon, .channelTabs-favIcon.channelTabs-doNotDisturbIcon, .channelTabs-favIcon.channelTabs-idleIcon, .channelTabs-favIcon.channelTabs-onlineIcon, .channelTabs-tabIcon.channelTabs-onlineIcon, .channelTabs-tabIcon.channelTabs-doNotDisturbIcon, .channelTabs-tabIcon.channelTabs-idleIcon, .channelTabs-tabIcon.channelTabs-offlineIcon, .channelTabs-favIcon.channelTabs-offlineIcon {border-radius: var(--avatar-radius) !important;}
.channelTabs-tabContainer {border-bottom: 1px solid var(--background-primary) !important; border-top: 1px solid var(--border-color) !important;}
.channelTabs-gridContainer {margin-left: 2px !important;  height: 33px !important;}
.channelTabs-typingBadge {
  border-radius: var(--server-radius) !important;
  margin-bottom: 5px !important;
  margin-right: 6px !important;
}

html:not(.platform-osx) #channelTabs-container>#channelTabs-settingsMenu+div, html:not(.platform-osx) #channelTabs-container>:first-child:not(#channelTabs-settingsMenu) {
  padding-left: 0px !important;
  padding-top: 4px !important;
}
.channelTabs-favContainer {
  padding: 0 8px 0 0px !important;
}

#channelTabs-settingsMenu {
  position: relative;
  display: inline-block;
  float: right;
  width: 20px;
  height: calc(var(--channelTabs-tabHeight) + var(--channelTabs-paddingTop) + var(--channelTabs-paddingBottom));
  margin-right: var(--channelTabs-winButtonWidth);
  z-index: 9999;
}