/* ===> Avatar only member list | Compact Member List <=== */
.container_f79ab4 {
  min-width: var(--Member-List-Toggle);
  max-width: var(--Member-List-Toggle);
}

.container_f79ab4:hover {
  min-width: 240px;
  max-width: 240px;
  transition: .3s ease;
}
.container_f79ab4:not(:hover) aside [class^="membersGroup"] { /* Height = 0/initial | Padding = 0/6px 0 */
  height: var(--Member-List-Toggle-2);
  padding: var(--Member-List-Toggle-4);
  transition: .3s ease;
}
.container_f79ab4 aside [class^="membersGroup"] { /* Height = 0/initial | Padding = 0/6px 0 */
  transition: .3s ease;
}
/* Border status fix (no scrollbar import broke that too) */
.container__3792d, .container_a48b21 {margin-left: 1px !important;}

/* Work together */
.membersGroup_cad095 .member_aa4760 .content-2a4AW9:not(:hover) {padding-top: 0px;}
.membersWrap__5ca6b .memberInner__4dac6 {padding-left: 5px; height: 36px}
.layout_bb8e67 {padding-left: 2px !important;}
.layout_bb8e67:hover {padding-left: 2px !important;}
.selected__7f4cb .layout_bb8e67, .clickable__03a29:hover .layout_bb8e67 {padding-left: 2px;}
[class^="membersGroup"] {
  transition: .3s ease;
}
/* ==> Member list support channel <== */
.membersWrap__5ca6b,
.members__573eb {
  min-width: var(--Member-List-Toggle);
  max-width: var(--Member-List-Toggle);
}
.membersWrap__5ca6b:hover,
.members__573eb:hover {
  min-width: 240px;
  max-width: 240px;
  transition: .3s ease;
}
.member_aa4760 {max-width: 100%;}
/* Work together */
.membersWrap__5ca6b:not(:hover) [class^="membersGroup"] {
  padding: var(--Member-List-Toggle-2);
  height: var(--Member-List-Toggle-2);
}

.container_f79ab4 {border-left: 0px solid var(--border-color) !important;}
/* Border line to the left of the member list bar */
.membersWrap__5ca6b:before {
  content: "";
  position: relative;
  width: 1px;
  left: 0px;
  top: 0px;
  height: 1301px;
  border-left: 1px solid var(--border-color);
}


/* ===> Compact server list <=== */
.guilds__2b93a, .listItem__48528 {
  width: 60px;
  margin: 0 0 5px;
}
.guilds__2b93a {margin-bottom: 0px !important;}
.wrapper_b4903b {
  width: 2px;
}
.platform-osx .scroller_de945b, .platform-win .scroller_de945b {
  padding-top: 6px;
}
/* Expanded folder background */
.expandedFolderBackground_b1385f {
  left: 3px;
  width: 54px;
}


/* ===> Compact Sidebar <=== */
.sidebar_e031be {
  width: var(--Compact-Sidebar);
  opacity: var(--Compact-Sidebar-Opacity);
  transition: .3s ease;
}
.sidebar_e031be:hover {
  width: 240px;
  opacity: 1;
  transition: .3s ease;
}

/* ===> Direct Messages (home section) - left sidebar where users are <=== */
.channel__0aef5:has([href="/shop"]) {display: none;}
.privateChannelsHeaderContainer_b22dc9 {padding: 8px 5px 6px 6px;}
.channel__0aef5 .layout__59abc {height: 39px; padding: 0 6px;}
/* ==> User panel avatar position same as direct message user avatars (OCD moment) <== */
.container_debb33 {
  height: 46px;
  padding: 0 6px;
  justify-content: space-between;
}
.container_debb33 .avatar_f8541f {margin-left: 1px;}

/* Discord Watermark */
.wordmarkWindows_ffbc5e {padding: 4px 3px 3px !important;}

/* Compact Chat - WITH compact setting enabled | compact */
.compact_eda3c8.wrapper_a62503 {padding-left: 3.7rem !important;}
.compact_eda3c8.wrapper_a62503 .container__62863, .compact_eda3c8.wrapper_a62503 .message-embed {right: 20px !important;}
.compact_eda3c8 .repliedMessage__636d2 {margin-left: calc(var(--timestamp-width) + 0rem + var(--text-indent)) !important;}
.compact_eda3c8 .repliedMessage__636d2:before {right: calc(100% - .21rem) !important; border-radius: var(--server-radius); border-color: var(--unread-color);}
.group-spacing-0 .divider__01aed.hasContent__1fe13 {margin-top: 0.7rem; margin-bottom: 0.7rem;}
/* Bot Tag & Badges fixes */
.compact_eda3c8 .username__0b0e7.desaturateUserColors-1O-G89 ~ .badges-XRnWAp {top: 4px;} /* .repliedMessage__636d2 .username__0b0e7.desaturateUserColors-1O-G89 ~ .badges-XRnWAp */
.compact_eda3c8.wrapper_a62503 .rem_be1e7a.botTag__4211a{top: 6px;}
/* Compact Chat - WITHOUT compact setting enabled | cozy */
.themedPopout-1TrfdI .messagesPopout__28784 .messageGroupWrapper__1fce2 {padding: 0px;}
.recentMentionsPopout__40c54 .cozy_f5c119 .contents_d3ae0d {padding-left: 48px;} .container_eb737e .cozy_f5c119 .contents_d3ae0d {padding-left: 15px;}
.messageListItem__050f9 .cozy_f5c119.wrapper_a62503 {padding-left: 18px; padding-top: 0px; padding-bottom: 0px;}
.messageListItem__050f9 .cozy_f5c119 .contents_d3ae0d {padding-left: 40px;}
.messageListItem__050f9 .cozy_f5c119.wrapper_a62503 .container__62863, .messageListItem__050f9 .cozy_f5c119.wrapper_a62503 .message-embed {left: 40px;}
.messageListItem__050f9 .message_ccca67 .avatar__08316.clickable__09456 {left: 8px;}
.recentMentionsPopout__40c54.messagesPopoutWrap__10dd1 .avatar__08316 {left: 8px;} .avatar__08316 {left: 4px;}
.group-spacing-16 .groupStart__7b93c {margin-top: 0.3625rem;}
.messageContainer_cb3d47 {padding-left: 6px;}
.messageContainer_cb3d47 .cozy_f5c119.wrapper_a62503 {padding-left: 10px;}
.messageGroupWrapper__1fce2 .messageGroupCozy__9d016 {margin-left: 6px;}
.cozy_f5c119.wrapper_a62503 {padding-left: 58px;} /* Fixes moving main container when uploading something */
.messageGroupWrapper__1fce2 .messageGroupCozy__9d016 {padding-top: 8px;}
/* Replied Message container */
.theme-dark .repliedMessage__636d2 {padding: 0.2em 0.4em; margin-bottom: 4px; left: 34px; background: var(--channeltextarea-background);}
.theme-dark .repliedMessage__636d2:hover {padding: 0.2em 0.4em; margin-bottom: 4px;}
.cozy_f5c119 .repliedMessage__636d2:before {left: calc(var(--avatar-size)/2*-1 + -4px);}
.messagesPopoutWrap__10dd1 .container__7c2c1 .cozy_f5c119 .repliedMessage__636d2:before {left: calc(var(--avatar-size)/2*-1 + 2px);}
.containerWithContent-2_V0PM {padding: 0px;}
.font-size-12 .cozy_f5c119.hasThread__44ae4:after, .font-size-14 .cozy_f5c119.hasThread__44ae4:after, .font-size-15 .cozy_f5c119.hasThread__44ae4:after, .font-size-16 .cozy_f5c119.hasThread__44ae4:after { /* Thread bar */
  width: 1.4rem;
  left: 1.7rem;
  top: 3rem;
}
.compact_eda3c8.wrapper_a62503 .spine_d081ec { /* Compact Thread line */
  border-bottom-left-radius: 0px;
  border-bottom: 2px solid var(--unread-color);
  border-left: 2px solid var(--unread-color);
  bottom: 29px;
  position: absolute;
  top: 0;
  left: -1.26rem;
  width: 1.1rem;
}
.compact_eda3c8.hasThread__44ae4 .contents_d3ae0d:before { /* Compact Thread line */
  background-color: var(--unread-color);
  bottom: 0;
  content: "";
  position: absolute;
  width: 2px;
  left: 2.5rem;
  top: 1.5rem;
}
.cozy_f5c119 .timestamp_c79dd2.alt__6c563 {display: none;} /* Hover Timestamp */
/*
.repliedTextPreview__1a8a4.clickable__09456 {border-left: 3px solid grey; padding: 2px 6px; color: #ccc; background-color: var(--channeltextarea-background)}
.repliedTextPreview__1a8a4.clickable__09456:hover {color: rgb(0, 204, 255);}
*/

/* PreviewMessageLinks Plugin */
.messageEmbed > * {
  color: var(--text-normal);
  display: inline-block;
  pointer-events: auto;
  position: relative;
  max-width: 100%;
  background: var(--background-secondary);
  border-radius: var(--server-radius);
  padding: 8px 8px;
}
.messageEmbed {
  left: 40px;
  margin: 0px;
  padding: 4px 0px 4px 1px;
  border: 1px solid var(--border-color);
  border-radius: var(--server-radius);
}
.button_ef08e7 {background-color: var(--background-tertiary) !important; border-radius: 0px;} .jumpButton {top: 0px;}