/* ===> Avatar only member list | Compact Member List <=== */
.container_b2ce9c {
  min-width: var(--Member-List-Toggle);
  max-width: var(--Member-List-Toggle);
}

.container_b2ce9c:hover {
  min-width: 240px;
  max-width: 240px;
  transition: .3s ease;
}
.container_b2ce9c:not(:hover) aside [class^="membersGroup"] { /* Height = 0/initial | Padding = 0/6px 0 */
  height: var(--Member-List-Toggle-2);
  padding: var(--Member-List-Toggle-4);
  transition: .3s ease;
}
.container_b2ce9c aside [class^="membersGroup"] { /* Height = 0/initial | Padding = 0/6px 0 */
  transition: .3s ease;
}
/* Border status fix (no scrollbar import broke that too) */
.container__8759a, .container__4f20e {margin-left: 1px !important;}

/* Work together */
.membersGroup__85843 .member_aa4760 .content-2a4AW9:not(:hover) {padding-top: 0px;}
.membersWrap__90226 .memberInner_a32223 {padding-left: 5px; height: 36px}
.layout_bb8e67 {padding-left: 2px !important;}
.layout_bb8e67:hover {padding-left: 2px !important;}
.selected__9800b .layout_bb8e67, .clickable__17ccb:hover .layout_bb8e67 {padding-left: 2px;}
[class^="membersGroup"] {
  transition: .3s ease;
}
/* ==> Member list support channel <== */
.membersWrap__90226,
.members__9f47b {
  min-width: var(--Member-List-Toggle);
  max-width: var(--Member-List-Toggle);
}
.membersWrap__90226:hover,
.members__9f47b:hover {
  min-width: 240px;
  max-width: 240px;
  transition: .3s ease;
}
/* Work together */
.membersWrap__90226:not(:hover) [class^="membersGroup"] {
  padding: var(--Member-List-Toggle-2);
  height: var(--Member-List-Toggle-2);
}

.container_b2ce9c {border-left: 0px solid var(--border-color) !important;}
/* Border line to the left of the member list bar */
.membersWrap__90226:before {
  content: "";
  position: relative;
  width: 1px;
  left: 0px;
  top: 0px;
  height: 1301px;
  border-left: 1px solid var(--border-color);
}


/* ===> Compact server list <=== */
.guilds__2b93a, .listItem_fa7b36 {
  width: 60px;
  margin: 0 0 5px;
}
.wrapper__3670f {
  width: 2px;
}
.platform-osx .scroller__3d071, .platform-win .scroller__3d071 {
  padding-top: 6px;
}
/* Expanded folder background */
.expandedFolderBackground__1bec6 {
  left: 3px;
  width: 54px;
}


/* ===> Compact Sidebar <=== */
.sidebar_ded4b5 {
  width: var(--Compact-Sidebar);
  opacity: var(--Compact-Sidebar-Opacity);
  transition: .3s ease;
}
.sidebar_ded4b5:hover {
  width: 240px;
  opacity: 1;
  transition: .3s ease;
}

/* ===> Direct Messages (home section) - left sidebar where users are <=== */
.channel_c21703:has([href="/shop"]) {display: none;}
.privateChannelsHeaderContainer_ddcec6 {padding: 8px 5px 6px 6px;}
.channel_c21703 .layout__59abc {height: 39px; padding: 0 6px;}
/* ==> User panel avatar position same as direct message user avatars (OCD moment) <== */
.container_ca50b9 {
  height: 46px;
  padding: 0 6px;
  justify-content: space-between;
}
.container_ca50b9 .avatar_f8541f {margin-left: 1px;}

/* Discord Watermark */
.wordmarkWindows__05c46 {padding: 4px 3px 3px !important;}

/* Compact Chat - WITH compact setting enabled | compact */
.compact__54ecc.wrapper__09ecc {padding-left: 3.7rem !important;}
.compact__54ecc.wrapper__09ecc .container_dbadf5, .compact__54ecc.wrapper__09ecc .message-embed {right: 20px !important;}
.compact__54ecc .repliedMessage_e2bf4a {margin-left: calc(var(--timestamp-width) + 0rem + var(--text-indent)) !important;}
.compact__54ecc .repliedMessage_e2bf4a:before {right: calc(100% - .21rem) !important; border-radius: var(--server-radius); border-color: var(--unread-color);}
.group-spacing-0 .divider__8cf56.hasContent__8519e {margin-top: 0.7rem; margin-bottom: 0.7rem;}
/* Bot Tag & Badges fixes */
.compact__54ecc .username_d30d99.desaturateUserColors-1O-G89 ~ .badges-XRnWAp {top: 4px;} /* .repliedMessage_e2bf4a .username_d30d99.desaturateUserColors-1O-G89 ~ .badges-XRnWAp */
.compact__54ecc.wrapper__09ecc .rem__931aa.botTag__4211a{top: 6px;}
/* Compact Chat - WITHOUT compact setting enabled | cozy */
.themedPopout-1TrfdI .messagesPopout__22763 .messageGroupWrapper_f8c6e9 {padding: 0px;}
.recentMentionsPopout__826a9 .cozy_f5c119 .contents_f41bb2 {padding-left: 48px;} .container__20de0 .cozy_f5c119 .contents_f41bb2 {padding-left: 15px;}
.messageListItem__6a4fb .cozy_f5c119.wrapper__09ecc {padding-left: 18px; padding-top: 0px; padding-bottom: 0px;}
.messageListItem__6a4fb .cozy_f5c119 .contents_f41bb2 {padding-left: 40px;}
.messageListItem__6a4fb .cozy_f5c119.wrapper__09ecc .container_dbadf5, .messageListItem__6a4fb .cozy_f5c119.wrapper__09ecc .message-embed {left: 40px;}
.messageListItem__6a4fb .message__80c10 .avatar__08316.clickable_d866f1 {left: 8px;}
.recentMentionsPopout__826a9.messagesPopoutWrap_b3b384 .avatar__08316 {left: 8px;} .avatar__08316 {left: 4px;}
.group-spacing-16 .groupStart__56db5 {margin-top: 0.3625rem;}
.messageContainer_aa7d14 {padding-left: 6px;}
.messageContainer_aa7d14 .cozy_f5c119.wrapper__09ecc {padding-left: 10px;}
.messageGroupWrapper_f8c6e9 .messageGroupCozy__2dedd {margin-left: 6px;}
.cozy_f5c119.wrapper__09ecc {padding-left: 58px;} /* Fixes moving main container when uploading something */
/* Replied Message container */
.theme-dark .repliedMessage_e2bf4a {padding: 0.2em 0.4em; margin-bottom: 4px; left: 34px; background: var(--channeltextarea-background);}
.theme-dark .repliedMessage_e2bf4a:hover {padding: 0.2em 0.4em; margin-bottom: 4px;}
.cozy_f5c119 .repliedMessage_e2bf4a:before {left: calc(var(--avatar-size)/2*-1 + -4px);}
.messagesPopoutWrap_b3b384 .container__56e52 .cozy_f5c119 .repliedMessage_e2bf4a:before {left: calc(var(--avatar-size)/2*-1 + 2px);}
.containerWithContent-2_V0PM {padding: 0px;}
.font-size-12 .cozy_f5c119.hasThread__58ee2:after, .font-size-14 .cozy_f5c119.hasThread__58ee2:after, .font-size-15 .cozy_f5c119.hasThread__58ee2:after, .font-size-16 .cozy_f5c119.hasThread__58ee2:after { /* Thread bar */
  width: 1.4rem;
  left: 1.7rem;
  top: 3rem;
}
.compact__54ecc.wrapper__09ecc .spine_d081ec { /* Compact Thread line */
  border-bottom-left-radius: 0px;
  border-bottom: 2px solid var(--unread-color);
  border-left: 2px solid var(--unread-color);
  bottom: 29px;
  position: absolute;
  top: 0;
  left: -1.26rem;
  width: 1.1rem;
}
.compact__54ecc.hasThread__58ee2 .contents_f41bb2:before { /* Compact Thread line */
  background-color: var(--unread-color);
  bottom: 0;
  content: "";
  position: absolute;
  width: 2px;
  left: 2.5rem;
  top: 1.5rem;
}
.cozy_f5c119 .timestamp_cdbd93.alt__6c563 {display: none;} /* Hover Timestamp */
/*
.repliedTextPreview__90311.clickable_d866f1 {border-left: 3px solid grey; padding: 2px 6px; color: #ccc; background-color: var(--channeltextarea-background)}
.repliedTextPreview__90311.clickable_d866f1:hover {color: rgb(0, 204, 255);}
*/

/* PreviewMessageLinks Plugin */
.messageEmbed > * {
  color: var(--text-normal);
  display: inline-block;
  pointer-events: auto;
  position: relative;
  max-width: 100%;
  background: var(--background-secondary);
  border-radius: var(--server-radius);
  padding: 8px 8px;
}
.messageEmbed {
  left: 40px;
  margin: 0px;
  padding: 4px 0px 4px 1px;
  border: 1px solid var(--border-color);
  border-radius: var(--server-radius);
}
.button_f8244b {background-color: var(--background-tertiary) !important; border-radius: 0px;} .jumpButton {top: 0px;}