/* 
* Creator of these: https://github.com/XYZenix
* Link to all of them: https://github.com/XYZenix/XYZenixThemes/tree/master/Discord-MiniThemes
* I take 0 credit for making any of this; all of this is made by someone who is 10x more creative & experienced than me. He managed to make something look very stylish + clean.
* I ONLY made it an import as he didn't have one. If he asks me to take this down to make an import himself, I'll happily do that as a noob like me can't create this, nor would I want to refuse such a request.
*/


/* DragNDrop Modal 200MB */
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
 background: var(--background-secondary);
 animation: none;
 border-radius: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
 display: none !important;
}
.uploadModalIn-2w48Zf .base-3G-1g8, .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE {
 display: none;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before,
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
 font-size: 16px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
 content: " ";
 background: url(https://media.discordapp.net/attachments/555111179840782360/559048837151326208/file-upload.png);
 display: inline-block;
 padding-right: 5px;
 background-repeat: no-repeat;
 background-size: contain;
 width: 24px;
 height: 24px;
 margin-bottom: -6px;
 opacity: 0.6;
}
.theme-light .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
 filter: invert(1)
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
 content: "Maximum file size: 200 MB";
 font-size: 16px;
 background: -webkit-linear-gradient(left, var(--interactive-normal) 65%, #6fffbc 75%, #6ffff7);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v {
 font-size: 0;
 padding-bottom: 10px;
 text-align: left;
 margin-left: -8px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS {
 align-items: start;
 justify-content: start;
 padding: 12px;
 border: none !important;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A {
 font-size: 0;
 display: block;
 background: var(--background-tertiary);
 width: 100%;
 border-radius: 0px;
 height: 100%;
 overflow: hidden;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
 width: 350px;
 height: 250px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A pre {
 display: block;
 background: transparent;
 border: dashed 2px;
 border-radius: 4.0px;
 margin: 20px;
 height: 77%;
 overflow: hidden;
 border-image: url(https://cdn.discordapp.com/attachments/733624227378495488/930569189662548038/unknown.png) 1;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:after {
 content: "Your files are too powerful!";
-webkit-text-fill-color: #f6f6f7;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C {
  background: #f04747;
  border-radius: 0px;
  padding-bottom: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .instructions-272j2A {
  font-size: 14px;
  background: none;
  text-align: left;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:before {
  content: none;
}


/* DragNDrop Modal for Nitro */
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
 background: var(--background-secondary);
 animation: none;
 border-radius: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
 display: none !important;
}
.uploadModalIn-2w48Zf .base-3G-1g8, .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE {
 display: none;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before,
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
 font-size: 16px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
 content: " ";
 background: url(https://media.discordapp.net/attachments/555111179840782360/559048837151326208/file-upload.png);
 display: inline-block;
 padding-right: 5px;
 background-repeat: no-repeat;
 background-size: contain;
 width: 24px;
 height: 24px;
 margin-bottom: -6px;
 opacity: 0.6;
}
.theme-light .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
 filter: invert(1)
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
 content: "Maximum file size: 100 MB";
 font-size: 16px;
 background: -webkit-linear-gradient(left, var(--interactive-normal) 65%, #8B93E2 75%, #BF93D8);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v {
 font-size: 0;
 padding-bottom: 10px;
 text-align: left;
 margin-left: -8px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS {
 align-items: start;
 justify-content: start;
 padding: 12px;
 border: none !important;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A {
 font-size: 0;
 display: block;
 background: var(--background-tertiary);
 width: 100%;
 border-radius: 0px;
 height: 100%;
 overflow: hidden;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
 width: 350px;
 height: 250px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A pre {
 display: block;
 background: transparent;
 border: dashed 2px;
 border-radius: 4.0px;
 margin: 20px;
 height: 77%;
 overflow: hidden;
 filter: hue-rotate(-50deg);
 border-image: url(https://media.discordapp.net/attachments/555111179840782360/559054381803241483/uploadboxtest.png) 1;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:after {
 content: "Your files are too powerful!";
 -webkit-text-fill-color: #f6f6f7;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C {
  background: #f04747;
  border-radius: 0px;
  padding-bottom: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .instructions-272j2A {
  font-size: 14px;
  background: none;
  text-align: left;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:before {
  content: none;
}


/* DragNDrop Modal for Nitro Classic */
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
 background: var(--background-secondary);
 animation: none;
 border-radius: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
 display: none !important;
}
.uploadModalIn-2w48Zf .base-3G-1g8, .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE {
 display: none;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before,
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
 font-size: 16px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
 content: " ";
 background: url(https://media.discordapp.net/attachments/555111179840782360/559048837151326208/file-upload.png);
 display: inline-block;
 padding-right: 5px;
 background-repeat: no-repeat;
 background-size: contain;
 width: 24px;
 height: 24px;
 margin-bottom: -6px;
 opacity: 0.6;
}
.theme-light .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
 filter: invert(1)
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
 content: "Maximum file size: 50 MB";
 font-size: 16px;
 background: -webkit-linear-gradient(left, var(--interactive-normal) 75%, #C982D0 75%, #DE8FAD);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v {
 font-size: 0;
 padding-bottom: 10px;
 text-align: left;
 margin-left: -8px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS {
 align-items: start;
 justify-content: start;
 padding: 12px;
 border: none !important;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A {
 font-size: 0;
 display: block;
 background: var(--background-tertiary);
 width: 100%;
 border-radius: 0px;
 height: 100%;
 overflow: hidden;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
 width: 350px;
 height: 250px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A pre {
 display: block;
 background: transparent;
 border: dashed 2px;
 border-radius: 4.0px;
 margin: 20px;
 height: 77%;
 overflow: hidden;
 border-image: url(https://media.discordapp.net/attachments/555111179840782360/559054381803241483/uploadboxtest.png) 1;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:after {
 content: "Your files are too powerful!";
 -webkit-text-fill-color: #f6f6f7;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C {
  background: #f04747;
  border-radius: 0px;
  padding-bottom: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .instructions-272j2A {
  font-size: 14px;
  background: none;
  text-align: left;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:before {
  content: none;
}


/* DragNDrop Modal for Non-Nitro */
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
 background: var(--background-secondary);
 animation: none;
 border-radius: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
 display: none !important;
}
.uploadModalIn-2w48Zf .base-3G-1g8, .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .icons-1UZPvE {
 display: none;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before,
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
 font-size: 16px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
 content: " ";
 background: url(https://media.discordapp.net/attachments/555111179840782360/559048837151326208/file-upload.png);
 display: inline-block;
 padding-right: 0px;
 background-repeat: no-repeat;
 background-size: contain;
 width: 24px;
 height: 24px;
 margin-bottom: -6px;
 opacity: 0.6;
}
.theme-light .uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:before {
 filter: invert(1)
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v:after {
 content: "Maximum file size: 8 MB";
 font-size: 16px;
 background: -webkit-linear-gradient(left, var(--interactive-normal) 78%, #56A6BE 78%, #8DA3DC 124%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .title-3ChJ_v {
 font-size: 0;
 padding-bottom: 10px;
 text-align: left;
 margin-left: -8px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS {
 align-items: start;
 justify-content: start;
 padding: 12px;
 border: none !important;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A {
 font-size: 0;
 display: block;
 background: var(--background-tertiary);
 width: 100%;
 border-radius: 0px;
 height: 100%;
 overflow: hidden;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 {
 width: 350px;
 height: 250px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .inner-rBP-MS .instructions-272j2A pre {
 display: block;
 background: transparent;
 border: dashed 2px;
 border-radius: 4.0px;
 margin: 20px;
 height: 77%;
 overflow: hidden;
 filter: hue-rotate(260deg);
 border-image: url(https://media.discordapp.net/attachments/555111179840782360/559054381803241483/uploadboxtest.png) 1;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:after {
 content: "Your files are too powerful!";
 -webkit-text-fill-color: #f6f6f7;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C {
  background: #f04747;
  border-radius: 0px;
  padding-bottom: 0px;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .instructions-272j2A {
  font-size: 14px;
  background: none;
  text-align: left;
}
.uploadModalIn-2w48Zf .uploadDropModal-13Kd20.error-3lNz4C .inner-rBP-MS .title-3ChJ_v:before {
  content: none;
}