/* I grabbed this from: https://github.com/discord-extensions/bubble-bar, tweaked it a little, and made my Import from it; thank you, LuckFire. */
.base_c0676e .channelTextArea__626ee, .base_c0676e .channelTextArea_c2094b, .base_c0676e .scrollableContainer_ff917f {
  background-color: transparent;
}
.base_c0676e .channelTextArea_c2094b .inner__9fd0b .textArea_a86690 {
  margin-right: 3px;
  border-radius: var(--server-radius);
  background-color: var(--channeltextarea-background);
}
.base_c0676e .channelTextArea_c2094b .inner__9fd0b .textArea_a86690 .fontSize16Padding_bcbeae {
  left: 8px;
  padding-left: 0;
}
.base_c0676e .channelTextArea_c2094b .inner__9fd0b .textArea_a86690 .slateTextArea_b19976 {
  margin-right: 0px;
  caret-color: #ccc;
  border-radius: var(--server-radius);
}
.base_c0676e .channelTextArea_c2094b .inner__9fd0b .button__581d0 {
  width: 38px;
  height: 44px;
  padding-right: 0px;
  margin-left: 0;
  padding: 0;
  border-radius: var(--server-radius);
  background-color: var(--channeltextarea-background);
}
button.attachButton__56f98.attachButton__5f6dc.button__581d0.lookBlank_a5b4ca.colorBrand__27d57.grow__4c8a4 {
  background-color: var(--channeltextarea-background);
  margin-right: 3px !important;
}
.button__493d9 {margin-right: 0px !important;} .buttons__7ecff {padding-right: 0px !important;}
.buttons__7ecff {background-color: var(--channeltextarea-background);}
.sansAttachButton__5f863 {padding-left: 6px;}
.attachButton__56f98 {padding: 8px;}
.base_c0676e .channelTextArea_c2094b .inner__9fd0b { /* Right button bar | Check this when you have access to dev tools OR completely remake this whole snippet now you know what you're doing with css */
  margin-right: 12px !important;
}
/* Change after 17/10/23 */
.channelTextArea_c2094b {margin-bottom: 6px;}
.form_d8a4a1 {padding: 0px; margin-top: 0px;}
/* Edit message input box */
.channelTextArea__626ee .editor__66464 {background: var(--channeltextarea-background);}
